api_id=32937413
api_hash=49471bf6497846c6feacdf2272eb19b4
session=BQH2lcUArnHNYIwnOAXNdKLzNjQOKB3WXtcyO1OvQ5YWBRoYAzJT2tBdOr395tc8Y9QMATpfMKuMWpozcjaapnu5G2jg8egfHVqOih-kmeEnLzdRa0cKlxIi2wjlIe5yYpyaI8_tSFbQVdyr1epTEpoqEVp2jgSHvHma9s_3aoTv_UJSTJdg66EEyMx_jDrP9-fZJaaxu0OoB3Fp_ybYW7j3TQObuoDJtRR-ugDH7p2A7a3HrY0-L7KSlMUP7RySYO7qNCeGUBZtmTF8yKnjYcG9KLjKaTC8Z219IkJ_3Oqq0GV9HD1cUguxxzJUcSjAUVJW70xPBHft3rGUYT7hDhBvpguJQgAAAAHFh6CDAA
mongo_uri=mongodb+srv://hanzUserbot:<db_password>@cluster0.ekhrzhw.mongodb.net/?appName=Cluster0
db_name=mix-userbot
scheme= None
hostname= None 
port= None
username= None
password= None
